.contact {
    margin: 0px 300px;

    &-card {
        font-family: $fontFamilySecond;
        background-color: white;
        margin: 10px;
        padding: 10px;
        border-radius: 8px;
        display: grid;
        grid-template-columns: 10% 90%;

        img {
            height: 50px;
            margin-left: 20px;
        }
        
        .gmail{
            height: 40px;
            padding-top: 5px;
            margin-bottom: 10px;
        }

        a {
            color: black;
            text-decoration: none;
            padding-top: 13px;
            padding-left: 20px;
        }
    }

    &-card:hover {
        transform: scale(1.03);
    }
}