.art{
    font-family: $fontFamilySecond;
    text-align: center;
    margin: 10px 100px;
    color: black;

    h2{
        margin-top: 10px;
        padding-bottom: 10px;
    }

    &-images {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    &-card {

        img {
            height: 300px;
            border-radius: 8px;
            margin-top: 10px;
        }
    }

    &-card-item1 {
        grid-column-start: 3;
        grid-column-end: 5;

        img {
            height: 300px;
            border-radius: 8px;
            margin-top: 10px;
        }
    }    

    &-card-item2 {
        grid-column-start: 2;
        grid-column-end: 3;

        img {
            height: 300px;
            border-radius: 8px;
            margin-top: 10px;
        }
    } 

    &-card-item3 {
        grid-column-start: 3;
        grid-column-end: 4;

        img {
            height: 300px;
            width: 215px;
            border-radius: 8px;
            margin-top: 10px;
        }
    } 

    &-card:hover {
        transform: scale(1.1);
    }

    &-card-item1:hover {
        transform: scale(1.1);
    }

    &-card-item2:hover {
        transform: scale(1.1);
    }

    &-card-item3:hover {
        transform: scale(1.1);
    }
    
}